In [1]:
import pandas as pd

In [3]:
price_data=pd.read_csv('Prices_E_All_Data_(Normalized).csv', engine='python',encoding='latin1')

In [4]:
price_data.head(5)

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Year Code,Year,Months Code,Months,Unit,Value,Flag
0,2,4,Afghanistan,221,"Almonds, in shell",5530,Producer Price (LCU/tonne),1993,1993,7021,Annual value,LCU,46000.0,NaN
1,2,4,Afghanistan,221,"Almonds, in shell",5530,Producer Price (LCU/tonne),1994,1994,7021,Annual value,LCU,50000.0,NaN
2,2,4,Afghanistan,221,"Almonds, in shell",5530,Producer Price (LCU/tonne),1995,1995,7021,Annual value,LCU,62000.0,NaN
3,2,4,Afghanistan,221,"Almonds, in shell",5530,Producer Price (LCU/tonne),1996,1996,7021,Annual value,LCU,50000.0,NaN
4,2,4,Afghanistan,221,"Almonds, in shell",5530,Producer Price (LCU/tonne),1997,1997,7021,Annual value,LCU,41000.0,NaN

In [6]:
price_data.isnull().sum()

Area Code               0
Area Code (M49)         0
Area                    0
Item Code               0
Item                    0
Element Code            0
Element                 0
Year Code               0
Year                    0
Months Code             0
Months                  0
Unit               378820
Value                   0
Flag               711156
dtype: int64

In [14]:
# Filled in NULL values for Unit as they are simply just the producer price index
price_data["Unit"].fillna("Produce Price Index", inplace=True)

In [15]:
price_data.isnull().sum()

Area Code               0
Area Code (M49)         0
Area                    0
Item Code               0
Item                    0
Element Code            0
Element                 0
Year Code               0
Year                    0
Months Code             0
Months                  0
Unit                    0
Value                   0
Flag               711156
dtype: int64

In [16]:
price_data.drop(columns=['Year Code', 'Flag'], inplace=True)

In [17]:
price_data.head(5)

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Year,Months Code,Months,Unit,Value
0,2,4,Afghanistan,221,"Almonds, in shell",5530,Producer Price (LCU/tonne),1993,7021,Annual value,LCU,46000.0
1,2,4,Afghanistan,221,"Almonds, in shell",5530,Producer Price (LCU/tonne),1994,7021,Annual value,LCU,50000.0
2,2,4,Afghanistan,221,"Almonds, in shell",5530,Producer Price (LCU/tonne),1995,7021,Annual value,LCU,62000.0
3,2,4,Afghanistan,221,"Almonds, in shell",5530,Producer Price (LCU/tonne),1996,7021,Annual value,LCU,50000.0
4,2,4,Afghanistan,221,"Almonds, in shell",5530,Producer Price (LCU/tonne),1997,7021,Annual value,LCU,41000.0

In [18]:
price_data.isnull().sum()

Area Code          0
Area Code (M49)    0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Year               0
Months Code        0
Months             0
Unit               0
Value              0
dtype: int64

In [20]:
price_data.to_csv ('Procuder_Price_Cleaned.csv', index = False, header=True)